<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>

  <div class="panel-body">
    <div class="container">
      <form class="form-inline" novalidate [formGroup]="statsForm">
        <select class="form-control" id="golferlistId" formControlName="golferlist">
          <option value="" selected disabled>Select Golfer</option>
          <option *ngFor="let golfer of golfers" [ngValue]="golfer">{{golfer.firstname}} {{golfer.lastname}}</option>
        </select>
      </form>
    </div>
  </div>
  <div *ngIf="weeklyStats">
    <div class='panel-body'>
      <div class='table-responsive'>
        <table  sortable-table (sorted)="onSorted($event, 1)" class='table table-striped' *ngIf='weeklyStats && weeklyStats.length'>
          <thead>
            <tr>
              <th table-name=1 sortable-column='week'>Week</th>
              <th table-name=1 sortable-column='albatros'>Albatros</th>
              <th table-name=1 sortable-column='eagle'>Eagle</th>
              <th table-name=1 sortable-column='birdie'>Birdie</th>
              <th table-name=1 sortable-column='par'>Par</th>
              <th table-name=1 sortable-column='bogey'>Bogey</th>
              <th table-name=1 sortable-column='double'>Double Bogey</th>
              <th table-name=1 sortable-column='other'>Other</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let stat of weeklyStats'>
              <td>{{stat.idweek}}</td>
              <td>{{stat.albatros}}</td>
              <td>{{stat.eagle}}</td>
              <td>{{stat.birdie}}</td>
              <td>{{stat.par}}</td>
              <td>{{stat.bogey}}</td>
              <td>{{stat.doubleBogey}}</td>
              <td>{{stat.other}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>