.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
    color: rgb(0, 94, 44);
}

.title-bar {
    flex-grow: 1;
    display: flex;
    min-height: 100px;
    max-height: 100px;
}
.panel > .panel-heading {
    background-color:rgb(0, 94, 44);

}

.form-control:focus {
        border-color:  rgb(0, 94, 44);
}
.btn-primary {
    background-color:rgb(0, 94, 44);
    border-color:rgb(0, 94, 44);
    color: #FFF;
 }
.btn-primary:hover,.btn-primary:focus {
      border-color: rgb(10, 65, 36);
      background-color:rgb(10, 65, 36);
      color: #FFF;
}
.btn-primary[disabled], body .btn-primary[disabled]:hover {
        background-color:rgb(106, 129, 117);
        border-color: rgb(106, 129, 117);
}