<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>
  <div class="container">
    <form class="form-inline" novalidate (ngSubmit)="saveDivisions()" [formGroup]="divisionForm">
      <div class="form-group ">
        <label class="control-label" for="totalDivisionsId">Number of Divisions</label>
        <select class="form-control " formControlName="totalDivisions" id="totalDivisionsId" (change)="onSelect($event.target.value)">
          <option *ngFor="let number of divisionNumbers">
            {{number}}
          </option>
        </select>
        <div>
          <br>
        </div>
      </div>
      <br>
      <div class="container">
        <div formArrayName="divisions">
          <div *ngFor="let division of getDivision(divisionForm); let i=index">
            <div class="panel panel-primary" [formGroupName]="i">
              <div class="panel-heading">
                {{ divisionNames[i] }}
              </div>
              <!-- panel-heading-->
              <br>

              <div class="form-group">
                <label class="col-md-2 control-label" attr.for="{{'nameId' + i}}">Division Name</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="{{'nameId' + i}}" placeholder="Division Name" formControlName="name">
                </div>
              </div>
              <div class="form-group">
                <table>
                  <tbody>
                    <td>
                      <select class="form-control" id="{{'golferListId' + i}}" formControlName="golferList">
                        <option value="" disabled selected>Select Golfer</option>
                        <option *ngFor="let golfer of golfers" [ngValue]="golfer">{{golfer.firstname}} {{golfer.lastname}}</option>
                      </select>
                    </td>
                    <td>
                      <button class="btn btn-primary" type="button" (click)="addGolfer(i)">
                        Add Golfer
                      </button>
                    </td>
                  </tbody>
                </table>
                <br>
              </div>
              <div class="form-group">
                <table class='table table-small table-striped' formArrayName="golfers">
                  <tbody>
                    <tr *ngFor="let golfer of getGolfers(division); let j=index">
                      <ng-container [formGroupName]="j">
                        <td>
                          <input type="text" class="form-control" id="{{'golferId' + j}}" formControlName="golfer">
                        </td>
                        <td>
                          <button class="btn btn-primary" type="button" (click)="removeGolfer(i,j)">
                            Remove Golfer
                          </button>
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary" type="submit">
              Save
            </button>
          </span>
        </div>
      </div>

    </form>
  </div>
</div>