<div class="sign-in-form">
    <br><br><br>
  <img src="./assets/logo.png" width="320" />
  <br><br><br>
  <h4>Your account has been created. Check your email for confirmation directions.</h4>
</div>
