:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
   /* background-image: url('./assets/mountains.jpg'); */ 
    background-position:  center center;
    background-size: cover;
}

.register-form {
    min-width: 300px;
    background-color: white;
    opacity: .93;
    padding: 20px;
}

h4 {
    margin-bottom: 20px;
}

button.btn-primary {
    float: right;
}
