:host {
    height: 30px;
    text-align: right;
    padding-top: 4px;
    padding-right: 4px;
    color: #888;
    background-color: #d3fad3;
}

div {
    display: inline;
}

a {
    text-decoration: none;
    color:rgb(0, 94, 44);
}


span.glyphicon {
    margin-left: 4px;
    font-size: 11px;
}

.user-name {
    color:rgb(190, 163, 8);
   /* margin-left: 12px; */
    margin-right: 10px;
   cursor: pointer;
}
.sign-out {
    color:rgb(0, 94, 44);
  /*  margin-left: 12px; */
  cursor: pointer;
}

.auto-refresh {
    color:rgb(0, 94, 44);
 /*   margin-left: 12px; */
 margin-right: 10px;
 cursor: pointer;
}
.auto-refresh-off {
    color:rgb(194, 197, 196);
 /*   margin-left: 12px; */
 margin-right: 10px;
 cursor: pointer;
}

