

<div *ngIf="frameworkConfigService.showUserControls">
    <span class="user-name">{{userApi.firstname }} {{ userApi.lastname}} </span>
    <span *ngIf="autoRefresh" class="auto-refresh" (click)="toggleAutoRefresh()">AUTO REFRESH </span>
    <span *ngIf="!autoRefresh" class="auto-refresh-off" (click)="toggleAutoRefresh()"> AUTO REFRESH </span>
    <span class="sign-out" (click)="signOut()">SIGN OUT</span>
</div>