<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>

  <!-- Filter the Products   -->
  <div class='panel-body'>
      <div class='table-responsive'>
          <table class='table table-striped' *ngIf='menu && menu.length'>
              <thead>
                  <tr>
                      <th>Order</th>
                      <th>Menu Item</th>
                      <th>Cost</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let menuItem of menu'>
                      <td><input (change)="updateOrder($event, menuItem)" type="checkbox"></td>
                      <td>{{menuItem.menuitem}}</td>
                      <td>{{menuItem.cost | currency}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div>
        <button class="btn btn-primary" (click)="continueOrder()" type="button">Continue with Order</button>
      </div>
</div>
</div>