 

  .div-inner-table {
    display: table;         
    width: 90%; 
    float: right;      
  }
  .div-inner-table-row {
    display: table-row;
    width: 100%;
  }
  .div-inner-table-col-l {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    padding: 3px 3px;
    width: auto;
  }
  .div-inner-table-col-r {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    padding: 3px 3px;
    width: 90px;
    text-align: right;
  }


.rTable {
    display: table;
    width: auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.iTableRow {
    display: table-row;
    width: 100%;
    background-color: rgb(217, 247, 221);
}
.rTableRow {
    display: table-row;
    width: 100%;
    background-color: #ddd;
}
.ilTableCell {
    float: left;
    display: table-column;
    padding: 3px 10px;
    width: auto;
    font-weight: bold;

}
.irTableCell {
    float: right;
    display: table-column;
    padding: 3px 10px;
    width: 170px;
    text-align: right;
    font-weight: bold;

}
.lTableCell {
    float: left;
    display: table-column;
    padding: 3px 10px;
    border: 1px solid #999999;
    width: auto;
}
.rTableCell {
    float: right;
    display: table-column;
    padding: 3px 10px;
    border: 1px solid #999999;
    width: 100px;
    text-align: right;

}

.rTableHead {
    display: table-cell;
    background-color: #ddd;

}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bolder;
    border: none;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}