<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>

  <!-- Filter the Products   -->
  <div class='panel-body'>
    <div class="rTable" *ngIf='order.orderitemCollection'>
      <div class="rTableHeading">
        <div class="rTableHead">Menu Item</div>
        <div class="rTableHead">Cost</div>
      </div>
      <div *ngFor='let item of order.orderitemCollection'>
        <div class="iTableRow">
          <div class="ilTableCell">{{item.idmenu.menuitem}}</div>
          <div class="irTableCell">{{item.idmenu.cost | currency}}</div>
        </div>
        <div *ngIf="item.idmenu.menuinstructionCollection" class="div-inner-table">
          <div class="rTableRow">
            <div class="div-inner-table-col-l">Instructions</div>
          </div>
          <div *ngFor="let instruct of item.idmenu.menuinstructionCollection" class="div-inner-table-row">
            <div class="div-inner-table-col=l">
              <input (click)="changeInstruction(item, instruct)" type="radio" name="item.idmenu.menuitem" value="instruct.name"> {{instruct.name}}
              <br>
            </div>
            <div *ngIf="instruct.cost" class="div-inner-table-col-r">{{instruct.cost | currency}}</div>
          </div>
        </div>

        <div *ngIf="item.idmenu.menuextrasCollection" class="div-inner-table">
          <div class="rTableRow">
            <div class="div-inner-table-col-l">Extras</div>
          </div>
          <div *ngFor="let extra of item.idmenu.menuextrasCollection" class="div-inner-table-row">
            <div class="div-inner-table-col-l">
              <input (click)="changeExtras($event, item, extra)" type="checkbox"> {{extra.name}}</div>
            <div *ngIf=extra.cost class="div-inner-table-col-r">{{extra.cost | currency}}</div>
          </div>
        </div>

      </div>
      <div class="rTableHeading">
        <div class="rTableHead">Total Cost</div>
        <div class="rTableHead">{{totalCost | currency}}</div>
      </div>
    </div>
    <div>
      <br>
      <button class="btn btn-primary" (click)="returnToMenu()" type="button">Start Over</button>
      <button class="btn btn-primary btn-right" (click)="completeOrder()" type="button">Place Order</button>
    </div>
  </div>
</div>