<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>
  <div class="panel-body">
    <form class="form-inline" novalidate [formGroup]="scoreForm">
      <div class="container" >
        <div class="col-md-6">
          <label class="control-label" for="golferlistId">Golfer</label>
          <select class="form-control" id="golferlistId" formControlName="golferlist">
            <option value="" selected disabled>Select Golfer</option>
            <option *ngFor="let golfer of golfers" [ngValue]="golfer">{{golfer.firstname}} {{golfer.lastname}}</option>
          </select>
        </div>

        <div class="col-md-6">
          <label class="control-label" for="selectWeekId">Week</label>
          <select class="form-control" id="selectWeekId" formControlName="week">
            <option value="" disabled selected>Select Week</option>
            <option *ngFor="let number of numbers" [ngValue]="number+ 1">{{number + 1}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>