<div class='panel panel-primary'>
  <div class='panel-heading'>
      <h3>{{pageTitle}}</h3>
  </div>

  <!-- Filter the Products   -->
  <div class='panel-body'>
      <div class='table-responsive'>
          <table sortable-table (sorted)="onSorted($event, 1)" class='table table-striped'
                 *ngIf='golferScoreData && golferScoreData.length'>
              <thead>
                  <tr>
                      <th >Golfer</th>
                      <th table-name=1 sortable-column={{number}} *ngFor='let number of numbers'>{{number + 1}}</th>
                      <th table-name=1 sortable-column={{numbers.length}} sort-direction='desc'>Avg</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let gsd of golferScoreData'>
                      <td>{{gsd.golfer.firstname}} {{gsd.golfer.lastname}}</td>
                      <td *ngFor='let score of gsd.scores; let i = index;'>{{score.net | number : '1.0-2'}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
