<form class="noscroll form-inline" novalidate [formGroup]="scoreForm" >

  <div *screenLarge class="row">
    <div class="Title col-md-6">
      <div>({{hc1}}) {{name1}} {{total1}} {{pointTotal1}} </div>
    </div>

    <div class="TitleRight col-md-6">
      <div>({{hc2}}) {{name2}} {{total2}} {{pointTotal2}}</div>
    </div>
    <div class="col-md-12">
        <br>
    </div>
    <div class="col-md-1 ">
    </div>
    <div class="col-md-11 ">
      <div class="form-group">
        <label class="control-label" for="backnineID">Back 9</label>
        <input class="form-control" id="backnine" type="checkbox" formControlName="backnine" />
      </div>
    </div>
    
    <div class="col-md-12">
        <br>
    </div>
    <div class="col-md-1 ">
    </div>
    <div class="col-md-11" formArrayName="matchholes">
      <Table class="scoreTable">
        <tbody>
          <tr>
            <td *ngFor="let scores of scoreForm.get('matchholes')['controls']; let i = index;" [formGroupName]="i">
              <Table class="myTable table-bordered">
                <tbody>
                  <tr class="info">
                    <td colspan="3" class="hole center">Hole {{i+start+1}}</td>
                  </tr>
                  <tr class="info">
                    <td class="par center third">{{coursedata?.courseholes[i+start]?.handicap}}</td>
                    <td class="ydg center third">{{coursedata?.courseholes[i+start]?.length}}</td>
                    <td class="hc center third">{{coursedata?.courseholes[i+start]?.par}}</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <table class="myInnerTable table-bordered">
                        <tbody>
                          <tr *ngIf=!isBye1>
                            <td [ngClass]="getNameCss(1,i)">
                              <div class="vertical-text">{{firstname1}}</div>
                            </td>
                            <td class="center">
                              <input type="number" class="score form-control " [ngClass]="cssHoles1[i]" formControlName="score1">
                            </td>
                          </tr>
                          <tr *ngIf=!isBye2>
                            <td [ngClass]="getNameCss(2,i)">
                              <div class="vertical-text">{{firstname2}}</div>
                            </td>
                            <td class="center">
                              <input type="number" class=" score form-control " [ngClass]="cssHoles2[i]" formControlName="score2">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </Table>
            </td>
            <td>
              <Table class="myTable table-bordered">
                <tbody>
                  <tr class="info">
                    <td colspan="3" class="hole center">Total</td>
                  </tr>
                  <tr class="info">
                    <td class="par center third">{{totalPar}}</td>
                    <td class="ydg center third">{{totalYards}}</td>
                    <td class="hc center third">{{inOut}}</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <table class="myInnerTable table-bordered">
                        <tbody>
                          <tr *ngIf=!isBye1>
                            <td class="name">
                              <div class="vertical-text">{{firstname1}}</div>
                            </td>
                            <td class="total" [ngClass]="cssTotal1">
                              <div *ngIf="total1 > 0">{{total1}}</div>
                            </td>
                          </tr>
                          <tr *ngIf=!isBye2>
                            <td class="name">
                              <div class="vertical-text">{{firstname2}}</div>
                            </td>
                            <td [ngClass]="cssTotal2" class="total">
                              <div *ngIf="total2 > 0">{{total2}}</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </Table>
            </td>
          </tr>
        </tbody>
      </Table>
    </div>



  </div>

  <div *screenBelowLarge style="overflow: hidden">
    <div class="row">
      <div class="TitleSmall col-xs-6">
        <div>({{hc1}}) {{name1}} {{total1}} {{pointTotal1}} </div>
      </div>

      <div class="TitleRightSmall col-xs-6">
        <div>({{hc2}}) {{name2}} {{total2}} {{pointTotal2}}</div>
      </div>
      <div class="col-md-12">
          <br>
      </div>
        <div class="col-md-1 ">
        <div class="form-group">
          <label for="backnineID">Back 9</label>
          <input id="backnine" type="checkbox" formControlName="backnine" />
        </div>
      </div>
      <div class="col-md-12">
          <br>
      </div>
    </div>
    <div class="row" >
      <div class="split">
        <div class="container-fluid ">
          <div class="row justify-content-md-center">
            <div formArrayName="matchholes">
              <div class="col-md-1 scoreTable" *ngFor="let scores of scoreForm.get('matchholes')['controls']; let i = index;">
                <div [formGroupName]="i">
                  <Table class="myTable table-bordered">
                    <tbody>
                      <tr class="info">
                        <td colspan="3" class="hole center">Hole {{i+start+1}}</td>
                      </tr>
                      <tr class="info">
                        <td class="par center third">{{coursedata?.courseholes[i+start]?.handicap}}</td>
                        <td class="ydg center third">{{coursedata?.courseholes[i+start]?.length}}</td>
                        <td class="hc center third">{{coursedata?.courseholes[i+start]?.par}}</td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <table class="myInnerTable table-bordered">
                            <tbody>
                              <tr *ngIf=!isBye1>
                                <td [ngClass]="getNameCss(1,i)">
                                  <div class="vertical-text">{{firstname1}}</div>
                                </td>
                                <td class="center">
                                  <input type="number" class="score form-control " [ngClass]="cssHoles1[i]" formControlName="score1">
                                </td>
                              </tr>
                              <tr *ngIf=!isBye2>
                                <td [ngClass]="getNameCss(2,i)">
                                  <div class="vertical-text">{{firstname2}}</div>
                                </td>
                                <td class="center">
                                  <input type="number" class=" score form-control " [ngClass]="cssHoles2[i]" formControlName="score2">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="split" style="position: fixed">
              
     
        <div class="col-md-1 ">
          <Table class="totals myTable table-bordered" >
            <tbody>
              <tr class="info">
                <td colspan="3" class="hole center">Total</td>
              </tr>
              <tr class="info">
                <td class="par center third">{{totalPar}}</td>
                <td class="ydg center third">{{totalYards}}</td>
                <td class="hc center third">{{inOut}}</td>
              </tr>
              <tr>
                <td colspan="3">
                  <table class="myInnerTable table-bordered">
                    <tbody>
                      <tr *ngIf=!isBye1>
                        <td class="name">
                          <div class="vertical-text">{{firstname1}}</div>
                        </td>
                        <td class="total" [ngClass]="cssTotal1">
                          <div *ngIf="total1 > 0">{{total1}}</div>
                        </td>
                      </tr>
                      <tr *ngIf=!isBye2>
                        <td class="name">
                          <div class="vertical-text">{{firstname2}}</div>
                        </td>
                        <td [ngClass]="cssTotal2" class="total">
                          <div *ngIf="total2 > 0">{{total2}}</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </Table>
        </div>
      </div>
    </div>
  </div>

</form>