.scores>div {
  display: flex;
  align-items: center;
}

.scroll {
  overflow-y: scroll;
  height: 500px;
}

.noscroll {
  overflow: hidden;
}

div.columns:nth-of-type(odd) {
  background: #eee;
}

.rowColor {
  background-color: #f63;
  color: #fff;
}

.upper1 {
  background-image: url(../../assets/upper1.png);
}

.lower1 {
  background-image: url(../../assets/lower1.png) left top;
}

​.upperHalf {
  background-image: url(../../assets/upper1-2.png) left top;
}

​.lowerHalf {
  background-image: url(../../assets/lower1-2.png) left top;
}

​.scoreTable {
  width: 120px;
  justify-content: center;
}

.save {
  position: fixed;
  top: 22%;
  left: 60%;
}

.totals {
  position: fixed;
  top: 30%;
  left: 60%;
}

.myTable {
  display: table;
  width: 120px;
  height: 150px;
}

.myInnerTable {
  display: table;
  width: 100%;
  height: 150px;
}

.vertical-text {
  transform: rotate(270deg);
  text-align: center;
}

.par {
  background-color: green;
  color: #fff;
}

.hole {
  background-color: rgb(0, 94, 44);
  color: #fff;
}

.ydg {
  background-color: gold;
}

.hc {
  background-color: rgb(107, 134, 65);
  color: #fff;
}

.info {
  height: 30px;
}

.name {
  width: 20px;
  background-color: #f0fff0;
}

.hcName {
  width: 20px;
  background-color: #72a572;
}

.score {
  vertical-align: center;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  width: 100%;
  padding: 10px;
  margin: 0px;
  height: 100%;
  border: 0;
}

.third {
  width: 33%;
}

.centerUpper {
  background-image: url(../../assets/upper1.png);
  background-repeat: no-repeat;
  background-position: right;
}

.centerLower {
  background-image: url(../../assets/lower1.png);
  background-repeat: no-repeat;
  background-position: right;
}

.centerUpperHalf {
  background-image: url(../../assets/upper1-2.png);
  background-repeat: no-repeat;
  background-position: right;
}

.centerLowerHalf {
  background-image: url(../../assets/lower1-2.png);
  background-repeat: no-repeat;
  background-position: right;
}

.center {
  vertical-align: center;
  text-align: center;
}

.total {
  vertical-align: center;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}

.TitleSmall {
  display: table-caption;
  text-align: left;
  font-weight: bold;
  font-size: small;
}

.TitleRightSmall {
  display: table-caption;
  text-align: right;
  font-weight: bold;
  font-size: small;
}

.Title {
  display: table-caption;
  text-align: left;
  font-weight: bold;
  font-size: larger;
}

.TitleRight {
  display: table-caption;
  text-align: right;
  font-weight: bold;
  font-size: larger;
}

.Heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.Rowx {
  display: table-row;
}

.Cell {
  display: table-cell;
  border: solid;
  border-width: thin;
  padding-left: 5px;
  padding-right: 5px;
}

/* Split the screen in half */

.split {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}