    
    
    /* remove border radius for the tab */
    
   
    .gtext {
      color: blue;
      text-align: center;
      vertical-align: center;
      /*text-shadow: 2px 2px 5px black; */
  }
  
    