<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>
  <form class="form-inline" novalidate [formGroup]="scoresForm">
    <!-- Filter the Products   -->

          <div class="panel-body panel with-nav-tabs">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li [ngClass]="{'active': schedule.week==selectedWeek}" *ngFor="let schedule of weeklySchedules">
                  <a class="white-letters" href="#tab{{schedule.week}}primary" (click)="switchTabs(schedule)" data-toggle="tab">{{schedule.week}}</a>
                </li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane fade in " [ngClass]="{'active': schedule.week==selectedWeek}" *ngFor="let schedule of weeklySchedules" id="tab{{schedule.week}}primary">
                  <div *ngFor="let weeklyScore of weeklyScores">
                    <Table class="table table-bordered table-responsive">
                      <th class="gtext">Golfer</th>
                      <th class="gtext" *ngFor="let hole of weeklyScore.scores[0].scoreholes; let i = index;">{{i+start+1}}</th>
                      <th class="gtext">Total</th>
                      <tbody>
                        <tr>
                          <td class="gtext">
                            {{weeklyScore.scores[0].score.idgolfer.firstname}} {{weeklyScore.scores[0].score.idgolfer.lastname}}
                          </td>
                          <td class="gtext" *ngFor="let hole of weeklyScore.scores[0].scoreholes; let i = index;">
                            {{weeklyScore.scores[0].scoreholes[i].score}}
                          </td>
                          <td class="gtext">{{getTotal(weeklyScore.scores[0].scoreholes)}}</td>
                        </tr>
                        <tr>
                          <td class="gtext">
                            {{weeklyScore.scores[1].score.idgolfer.firstname}} {{weeklyScore.scores[1].score.idgolfer.lastname}}
                          </td>
                          <td class="gtext" *ngFor="let hole of weeklyScore.scores[1].scoreholes; let i = index;">
                            {{weeklyScore.scores[1].scoreholes[i].score}}
                          </td>
                          <td class="gtext">{{getTotal(weeklyScore.scores[1].scoreholes)}}</td>
                        </tr>
                      </tbody>
                    </Table>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>

  </form>
</div>