.glyphicon {
    vertical-align: bottom;
    align-items: center;
}

.glyphicon-menu-left, .glyphicon-menu-right, .glyphicon-menu-down {
    float: right;
}

h2, h3{
  color: #3F915F;
  align-content: center;
}
