<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>Weekly Foursomes</h3>
  </div>
  <br>
  <br>

  <div class="panel-body panel with-nav-tabs ">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li [ngClass]="{'active': foursome.week==currentWeek}" *ngFor="let foursome of weeklyFoursomes">
          <a class="white-letters" href="#tab{{foursome.week}}primary" data-toggle="tab">{{foursome.week}}</a>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in " [ngClass]="{'active': foursome.week==currentWeek}"
             *ngFor="let foursome of weeklyFoursomes"
             id="tab{{foursome.week}}primary">
          <div *screenLarge class="row">
            <div><h2>{{foursome.course1}}</h2></div>
            <div *ngFor="let x of foursome.foursomes1">
              <div class="container" style="text-align: center">
                <span class = "h3"  style="text-align: center; color: darkgreen">{{x.teetime}}</span>
                <div class="col-lg-12 h3 ">
                  <a (click)='gotoScoreCard(x.idfoursome)'>
                    <span (onDrop)="swapTeeTimes($event, x.idschedule1, x.idweek)"
                          draggable droppable [dragData]="x.idschedule1">{{x.idschedule1.idgolfer1.firstname}} {{x.idschedule1.idgolfer1.lastname}} ({{x.idschedule1.absent1 ? 'out' : x.idschedule1.idgolfer1.currenthandicap}})
                      vs. {{x.idschedule1.idgolfer2.firstname}} {{x.idschedule1.idgolfer2.lastname}} ({{x.idschedule1.absent2 ? 'out' : x.idschedule1.idgolfer2.currenthandicap}})</span>
                                        <span>&nbsp;&nbsp;&&nbsp;&nbsp;</span>
                    <span (onDrop)="swapTeeTimes($event, x.idschedule2, x.idweek)" draggable droppable
                          [dragData]="x.idschedule2">{{x.idschedule2.idgolfer1.firstname}} {{x.idschedule2.idgolfer1.lastname}} ({{x.idschedule2.absent1 ? 'out' : x.idschedule2.idgolfer1.currenthandicap}})
                      vs. {{x.idschedule2.idgolfer2.firstname}} {{x.idschedule2.idgolfer2.lastname}} ({{x.idschedule2.absent2 ? 'out' : x.idschedule2.idgolfer2.currenthandicap}})</span>
                  </a>
                </div>
              </div>
            </div>
            <div *ngIf="foursome.course2">
              <div><h2>{{foursome.course2}}</h2></div>
              <div *ngFor="let x of foursome.foursomes2">
                <div class="container" style="text-align: center">
                  <span class = "h3"  style="text-align: center; color: darkgreen">{{x.teetime}}</span>
                  <div class="col-lg-12 h3 ">
                    <a (click)='gotoScoreCard(x.idfoursome)'>
                      <span (onDrop)="swapTeeTimes($event, x.idschedule1, x.idweek)"
                            draggable droppable [dragData]="x.idschedule1">{{x.idschedule1.idgolfer1.firstname}} {{x.idschedule1.idgolfer1.lastname}} ({{x.idschedule1.absent1 ? 'out' : x.idschedule1.idgolfer1.currenthandicap}})
                      vs. {{x.idschedule1.idgolfer2.firstname}} {{x.idschedule1.idgolfer2.lastname}} ({{x.idschedule1.absent2 ? 'out' : x.idschedule1.idgolfer2.currenthandicap}})</span>
                      <span *ngIf= x.idschedule2>&nbsp;&nbsp;&&nbsp;&nbsp;</span>
                      <span *ngIf= x.idschedule2 (onDrop)="swapTeeTimes($event, x.idschedule2, x.idweek)" draggable droppable
                            [dragData]="x.idschedule2">{{x.idschedule2.idgolfer1.firstname}} {{x.idschedule2.idgolfer1.lastname}} ({{x.idschedule2.absent1 ? 'out' : x.idschedule2.idgolfer1.currenthandicap}})
                      vs. {{x.idschedule2.idgolfer2.firstname}} {{x.idschedule2.idgolfer2.lastname}} ({{x.idschedule2.absent2 ? 'out' : x.idschedule2.idgolfer2.currenthandicap}})</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
      </div>
          <div *screenBelowLarge class="row">
            <div><h3>{{foursome.course1}}</h3></div>
            <div *ngFor="let x of foursome.foursomes1">
              <div class="container">
                <div class="col-md-12 h5 ">
                  <a (click)='gotoScoreCard(x.idfoursome)'>
                    <span class="col-md-1">{{x.teetime}}</span>
                    <span class="col-md-11" (onDrop)="swapTeeTimes($event, x.idschedule1, x.idweek)"
                          draggable droppable [dragData]="x.idschedule1">{{x.idschedule1.idgolfer1.lastname}} ({{x.idschedule1.absent1 ? 'out' : x.idschedule1.idgolfer1.currenthandicap}})
                      vs. {{x.idschedule1.idgolfer2.lastname}} ({{x.idschedule1.absent2 ? 'out' : x.idschedule1.idgolfer2.currenthandicap}})</span>
                    <br>
                    <span class="col-md-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&</span>
                    <span class="col-md-11"(onDrop)="swapTeeTimes($event, x.idschedule2, x.idweek)" draggable droppable
                          [dragData]="x.idschedule2">{{x.idschedule2.idgolfer1.lastname}} ({{x.idschedule2.absent1 ? 'out' : x.idschedule2.idgolfer1.currenthandicap}})
                      vs. {{x.idschedule2.idgolfer2.lastname}} ({{x.idschedule2.absent2 ? 'out' : x.idschedule2.idgolfer2.currenthandicap}})</span>
                  </a>
                </div>
              </div>
            </div>
            <div *ngIf="foursome.course2">
              <div><h3>{{foursome.course2}}</h3></div>
              <div *ngFor="let x of foursome.foursomes2">
                <div class="container">
                  <div class="col-md-12 h5 ">
                    <a (click)='gotoScoreCard(x.idfoursome)'>
                      <span class="col-md-1">{{x.teetime}}</span>
                      <span class="col-md-11" (onDrop)="swapTeeTimes($event, x.idschedule1, x.idweek)"
                            draggable droppable [dragData]="x.idschedule1">{{x.idschedule1.idgolfer1.lastname}} ({{x.idschedule1.absent1 ? 'out' : x.idschedule1.idgolfer1.currenthandicap}})
                      vs. {{x.idschedule1.idgolfer2.lastname}} ({{x.idschedule1.absent2 ? 'out' : x.idschedule1.idgolfer2.currenthandicap}})</span>
                      <br>
                      <span *ngIf= x.idschedule2 class="col-md-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&</span>
                      <span *ngIf= x.idschedule2 class="col-md-11"(onDrop)="swapTeeTimes($event, x.idschedule2, x.idweek)" draggable droppable
                            [dragData]="x.idschedule2">{{x.idschedule2.idgolfer1.lastname}} ({{x.idschedule2.absent1 ? 'out' : x.idschedule2.idgolfer1.currenthandicap}})
                      vs. {{x.idschedule2.idgolfer2.lastname}} ({{x.idschedule2.absent2 ? 'out' : x.idschedule2.idgolfer2.currenthandicap}})</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

