        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <meta name="viewport" content="width=device-width,initial-scale=1.0">
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
                <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
                <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
                <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
                <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
            
                <title>March Madness Stock Matchup</title>
            </head>
            
            <body>
                <header class="hero">
                    <div class="hero-wrap">
                        <p class="intro" id="intro">Mughead</p>
                        <h1 id="headline">Tournament</h1>
                        <p class="year">
                            <i class="fa fa-star"></i> 2018
                            <i class="fa fa-star"></i>
                        </p>
                        <p class="bracket-name" id="intro">Low Handicap Bracket</p>
                    </div>
                </header>
            
            
                <section id="bracket">
                    <div *ngIf="isDataAvailable" class="container">
                        <div class="split split-one">
                            
                            <div class="round round-one current">
            
                                <div class="round-details">Round 1
                                    <br/>
                                </div>
                                <ul class="matchup">
            
                                </ul>
                                <ul class="matchup">
                                    <li class="team team-top">
                                        <div>
                                            <div (click)="lowEntries[7].isLeftVisible = !lowEntries[7].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[7].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#8 Seed</div>
                                                    <div rightPane>{{lowEntries[7].seed.golfer}}<span class="score">{{lowEntries[7].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="team team-bottom">
                                        <div>
                                            <div (click)="lowEntries[8].isLeftVisible = !lowEntries[8].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[8].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#9 Seed</div>
                                                    <div rightPane>{{lowEntries[8].seed.golfer}}<span class="score">{{lowEntries[8].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="matchup">
            
                                </ul>
                                <ul class="matchup">
            
                                </ul>
                                <ul class="matchup">
            
                                </ul>
                                <ul class="matchup">
                                    <li class="team team-top">
                                        <div>
                                            <div (click)="lowEntries[5].isLeftVisible = !lowEntries[5].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[5].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#6 Seed</div>
                                                    <div rightPane>{{lowEntries[5].seed.golfer}}<span class="score">{{lowEntries[5].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="team team-bottom">
                                        <div>
                                            <div (click)="lowEntries[10].isLeftVisible = !lowEntries[10].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[10].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#11 Seed</div>
                                                    <div rightPane>{{lowEntries[10].seed.golfer}}<span class="score">{{lowEntries[10].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="matchup">
                                    <li class="team team-top">
                                        <div>
                                            <div (click)="lowEntries[6].isLeftVisible = !lowEntries[6].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[6].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#7 Seed</div>
                                                    <div rightPane>{{lowEntries[6].seed.golfer}}<span class="score">{{lowEntries[6].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="team team-bottom">
                                        <div>
                                            <div (click)="lowEntries[9].isLeftVisible = !lowEntries[9].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[9].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#10 Seed</div>
                                                    <div rightPane>{{lowEntries[9].seed.golfer}}<span class="score">{{lowEntries[9].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="matchup">
            
                                </ul>
            
                            </div>
                            <!-- END ROUND ONE -->
            
                            <div class="round round-two current">
                                <div class="round-details">Round 2
                                    <br/>
            
                                </div>
                                <ul class="matchup">
                                    <li class="team team-top">
                                        <div>
                                            <div (click)="lowEntries[0].isLeftVisible = !lowEntries[0].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[0].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#1 Seed</div>
                                                    <div rightPane>{{lowEntries[0].seed.golfer}}<span class="score">{{lowEntries[0].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="team team-bottom">&nbsp;
                                        <span class="score">&nbsp;</span>
                                    </li>
                                </ul>
            
                                <ul class="matchup">
                                    <li class="team team-top">
                                        <div>
                                            <div (click)="lowEntries[4].isLeftVisible = !lowEntries[4].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[4].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#5 Seed</div>
                                                    <div rightPane>{{lowEntries[4].seed.golfer}}<span class="score">{{lowEntries[4].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="team team-bottom">
                                        <div>
                                            <div (click)="lowEntries[3].isLeftVisible = !lowEntries[3].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[3].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#4 Seed</div>
                                                    <div rightPane>{{lowEntries[3].seed.golfer}}<span class="score">{{lowEntries[3].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="matchup">
                                    <li class="team team-top">
                                        <div>
                                            <div (click)="lowEntries[2].isLeftVisible = !lowEntries[2].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[2].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#3 Seed</div>
                                                    <div rightPane>{{lowEntries[2].seed.golfer}}<span class="score">{{lowEntries[2].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="team team-bottom">&nbsp;
                                        <span class="score">&nbsp;</span>
                                    </li>
                                </ul>
                                <ul class="matchup">
                                    <li class="team team-top">&nbsp;
                                        <span class="score">&nbsp;</span>
                                    </li>
                                    <li class="team team-bottom">
                                        <div>
                                            <div (click)="lowEntries[1].isLeftVisible = !lowEntries[1].isLeftVisible">
                                                <my-slide-panel [activePane]="lowEntries[1].isLeftVisible ? 'left' : 'right'">
                                                    <div leftPane>#2 Seed</div>
                                                    <div rightPane>{{lowEntries[1].seed.golfer}}<span class="score">{{lowEntries[1].seed.handicap}}</span></div>
                                                </my-slide-panel>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- END ROUND TWO -->
            
                            <div class="round round-three current">
                                <div class="round-details">Round 3
                                    <br/>
            
                                </div>
                                <ul class="matchup">
                                    <li class="team team-top">&nbsp;
                                        <span class="vote-count">&nbsp;</span>
                                    </li>
                                    <li class="team team-bottom">&nbsp;
                                        <span class="vote-count">&nbsp;</span>
                                    </li>
                                </ul>
                                <ul class="matchup">
                                    <li class="team team-top">&nbsp;
                                        <span class="vote-count">&nbsp;</span>
                                    </li>
                                    <li class="team team-bottom">&nbsp;
                                        <span class="vote-count">&nbsp;</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- END ROUND THREE -->
                        </div>
            
                        <div class="champion current">
            
            
                                <i class="fa fa-trophy"></i>
                                <div class="round-details">bracket championship
                                </div>
                                <ul class="matchup ">
                                    <li class="team team-top">&nbsp;
                                        <span class="score">&nbsp;</span>
                                    </li>
                                    <li class="team team-bottom">&nbsp;
                                        <span class="score">&nbsp;</span>
                                    </li>
                                    
                                </ul>
            
                        </div>
            
                    </div>
                </section>