<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>

  <title>March Madness Stock Matchup</title>
</head>

<body>
  <header class="hero">
    <div class="hero-wrap">
      <p class="intro" id="intro">Mughead</p>
      <h1 id="headline">Tournament</h1>
      <p class="year">
        <i class="fa fa-star"></i> 2018
        <i class="fa fa-star"></i>
      </p>
      <p class="bracket-name" id="intro">High Handicap Bracket</p>
    </div>
  </header>


  <section id="bracket">
    <div *ngIf="isDataAvailable" class="container">
      <div class="split split-one">

        <div class="round round-one current">

          <div class="round-details">Round 1
            <br/>
          </div>
          <ul class="matchup">

          </ul>
          <ul class="matchup">
            <li class="team team-top">
              <div [ngClass]="{
                'winner':isWinner(branches[0])}" (click)="calculateWinner(branches[0])">{{branches[0].idgolfer.firstname}} {{branches[0].idgolfer.lastname}}
                <span *ngIf="branches[0].points == null" class="hc">{{branches[0].handicap}}</span>
                <span *ngIf="branches[0].points != null" class="points">{{branches[0].points}}</span>
              </div>
            </li>
            <li class="team team-bottom">
              <div [ngClass]="{
                'winner':isWinner(branches[1])}" (click)="calculateWinner(branches[1])">{{branches[1].idgolfer.firstname}} {{branches[1].idgolfer.lastname}}
                <span *ngIf="branches[1].points == null" class="hc">{{branches[1].handicap}}</span>
                <span *ngIf="branches[1].points != null" class="points">{{branches[1].points}}</span>
              </div>
            </li>
          </ul>
          <ul class="matchup">

          </ul>
          <ul class="matchup">

          </ul>
          <ul class="matchup">

          </ul>
          <ul class="matchup">
            <li class="team team-top">
              <div [ngClass]="{
                'winner':isWinner(branches[2])}" (click)="calculateWinner(branches[2])">{{branches[2].idgolfer.firstname}} {{branches[2].idgolfer.lastname}}
                <span *ngIf="branches[2].points == null" class="hc">{{branches[2].handicap}}</span>
                <span *ngIf="branches[2].points != null" class="points">{{branches[2].points}}</span>
              </div>
            </li>
            <li class="team team-bottom">
              <div [ngClass]="{
                'winner':isWinner(branches[3])}" (click)="calculateWinner(branches[3])">{{branches[3].idgolfer.firstname}} {{branches[3].idgolfer.lastname}}
                <span *ngIf="branches[3].points == null" class="hc">{{branches[3].handicap}}</span>
                <span *ngIf="branches[3].points != null" class="points">{{branches[3].points}}</span>
              </div>
            </li>
          </ul>
          <ul class="matchup">
            <li class="team team-top">
              <div [ngClass]="{
                'winner':isWinner(branches[4])}" (click)="calculateWinner(branches[4])">{{branches[4].idgolfer.firstname}} {{branches[4].idgolfer.lastname}}
                <span *ngIf="branches[4].points == null" class="hc">{{branches[4].handicap}}</span>
                <span *ngIf="branches[4].points != null" class="points">{{branches[4].points}}</span>
              </div>
            </li>
            <li class="team team-bottom">
              <div [ngClass]="{
                'winner':isWinner(branches[5])}" (click)="calculateWinner(branches[5])">{{branches[5].idgolfer.firstname}} {{branches[5].idgolfer.lastname}}
                <span *ngIf="branches[5].points == null" class="hc">{{branches[5].handicap}}</span>
                <span *ngIf="branches[5].points != null" class="points">{{branches[5].points}}</span>
              </div>
            </li>
          </ul>
          <ul class="matchup">

          </ul>

        </div>
        <!-- END ROUND ONE -->

        <div class="round round-two current">
          <div class="round-details">Round 2
            <br/>

          </div>
          <ul class="matchup">
            <li class="team team-top">
              <div [ngClass]="{
                'winner':isWinner(branches[6])}" (click)="calculateWinner(branches[6])">{{branches[6].idgolfer.firstname}} {{branches[6].idgolfer.lastname}}
                <span *ngIf="branches[6].points == null" class="hc">{{branches[6].handicap}}</span>
                <span *ngIf="branches[6].points != null" class="points">{{branches[6].points}}</span>
              </div>
            </li>
            <li class="team team-bottom">
              <div *ngIf="branches[7].idgolfer" [ngClass]="{
                'winner':isWinner(branches[7])}" (click)="calculateWinner(branches[7])">{{branches[7].idgolfer.firstname}} {{branches[7].idgolfer.lastname}}
                <span *ngIf="branches[7].points == null" class="hc">{{branches[7].handicap}}</span>
                <span *ngIf="branches[7].points != null" class="points">{{branches[7].points}}</span>
              </div>
            </li>
          </ul>

          <ul class="matchup">
            <li class="team team-top">
              <div [ngClass]="{
                'winner':isWinner(branches[8])}" (click)="calculateWinner(branches[8])">{{branches[8].idgolfer.firstname}} {{branches[8].idgolfer.lastname}}
                <span *ngIf="branches[8].points == null" class="hc">{{branches[8].handicap}}</span>
                <span *ngIf="branches[8].points != null" class="points">{{branches[8].points}}</span>
              </div>
            </li>
            <li class="team team-bottom">
              <div [ngClass]="{
                'winner':isWinner(branches[9])}" (click)="calculateWinner(branches[9])">{{branches[9].idgolfer.firstname}} {{branches[9].idgolfer.lastname}}
                <span *ngIf="branches[9].points == null" class="hc">{{branches[9].handicap}}</span>
                <span *ngIf="branches[9].points != null" class="points">{{branches[9].points}}</span>
              </div>
            </li>
          </ul>
          <ul class="matchup">
            <li class="team team-top">
              <div [ngClass]="{
                'winner':isWinner(branches[10])}" (click)="calculateWinner(branches[10])">{{branches[10].idgolfer.firstname}} {{branches[10].idgolfer.lastname}}
                <span *ngIf="branches[10].points == null" class="hc">{{branches[10].handicap}}</span>
                <span *ngIf="branches[10].points != null" class="points">{{branches[10].points}}</span>
              </div>
            </li>
            <li class="team team-bottom">
              <div *ngIf="branches[11].idgolfer"[ngClass]="{
                'winner':isWinner(branches[11])}" (click)="calculateWinner(branches[11])">{{branches[11].idgolfer.firstname}} {{branches[11].idgolfer.lastname}}
                <span *ngIf="branches[11].points == null" class="hc">{{branches[11].handicap}}</span>
                <span *ngIf="branches[11].points != null" class="points">{{branches[11].points}}</span>
              </div>
              
            </li>
          </ul>
          <ul class="matchup">
            <li class="team team-top">
              <div *ngIf="branches[12].idgolfer"[ngClass]="{
                'winner':isWinner(branches[12])}" (click)="calculateWinner(branches[12])">{{branches[12].idgolfer.firstname}} {{branches[12].idgolfer.lastname}}
                <span *ngIf="branches[12].points == null" class="hc">{{branches[12].handicap}}</span>
                <span *ngIf="branches[12].points != null" class="points">{{branches[12].points}}</span>
              </div>
            </li>
            <li class="team team-bottom">
              <div *ngIf="branches[13].idgolfer"[ngClass]="{
                'winner':isWinner(branches[13])}" (click)="calculateWinner(branches[13])">{{branches[13].idgolfer.firstname}} {{branches[13].idgolfer.lastname}}
                <span *ngIf="branches[13].points == null" class="hc">{{branches[13].handicap}}</span>
                <span *ngIf="branches[13].points != null" class="points">{{branches[13].points}}</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- END ROUND TWO -->

        <div class="round round-three current">
          <div class="round-details">Round 3
            <br/>

          </div>
          <ul class="matchup">
            <li class="team team-top">
              <div *ngIf="branches[14].idgolfer"[ngClass]="{
                'winner':isWinner(branches[14])}" (click)="calculateWinner(branches[14])">{{branches[14].idgolfer.firstname}} {{branches[14].idgolfer.lastname}}
                <span *ngIf="branches[14].points == null" class="hc">{{branches[14].handicap}}</span>
                <span *ngIf="branches[14].points != null" class="points">{{branches[14].points}}</span>
              </div>

            </li>
            <li class="team team-bottom">
              <div *ngIf="branches[15].idgolfer"[ngClass]="{
                'winner':isWinner(branches[15])}" (click)="calculateWinner(branches[15])">{{branches[15].idgolfer.firstname}} {{branches[15].idgolfer.lastname}}
                <span *ngIf="branches[15].points == null" class="hc">{{branches[15].handicap}}</span>
                <span *ngIf="branches[15].points != null" class="points">{{branches[15].points}}</span>
              </div>

            </li>
          </ul>
          <ul class="matchup">
            <li class="team team-top">
              <div *ngIf="branches[16].idgolfer"[ngClass]="{
                'winner':isWinner(branches[16])}" (click)="calculateWinner(branches[16])">{{branches[16].idgolfer.firstname}} {{branches[16].idgolfer.lastname}}
                <span *ngIf="branches[16].points == null" class="hc">{{branches[16].handicap}}</span>
                <span *ngIf="branches[16].points != null" class="points">{{branches[16].points}}</span>
              </div>
            </li>
            <li class="team team-bottom">
              <div *ngIf="branches[17].idgolfer"[ngClass]="{
                'winner':isWinner(branches[17])}" (click)="calculateWinner(branches[17])">{{branches[17].idgolfer.firstname}} {{branches[17].idgolfer.lastname}}
                <span *ngIf="branches[17].points == null" class="hc">{{branches[17].handicap}}</span>
                <span *ngIf="branches[17].points != null" class="points">{{branches[17].points}}</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- END ROUND THREE -->
      </div>

      <div class="champion current">


        <i class="fa fa-trophy"></i>
        <div class="round-details">bracket championship
        </div>
        <ul class="matchup ">
          <li class="team team-top">
            <div *ngIf="branches[18].idgolfer"[ngClass]="{
              'winner':isWinner(branches[18])}" (click)="calculateWinner(branches[18])">{{branches[18].idgolfer.firstname}} {{branches[18].idgolfer.lastname}}
              <span *ngIf="branches[18].points == null" class="hc">{{branches[18].handicap}}</span>
              <span *ngIf="branches[18].points != null" class="points">{{branches[18].points}}</span>
            </div>
          </li>
          <li class="team team-bottom">
            <div *ngIf="branches[19].idgolfer"[ngClass]="{
              'winner':isWinner(branches[19])}" (click)="calculateWinner(branches[19])">{{branches[19].idgolfer.firstname}} {{branches[19].idgolfer.lastname}}
              <span *ngIf="branches[19].points == null" class="hc">{{branches[19].handicap}}</span>
              <span *ngIf="branches[19].points != null" class="points">{{branches[19].points}}</span>
            </div>
          </li>

        </ul>

      </div>

    </div>
  </section>