<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>

  <title>Mughead Golf Tournet Low Net 2020</title>
</head>

<body>
  <header class="hero">
    <div class="hero-wrap">
      <p class="intro" id="intro">Mughead</p>
      <h1 id="headline">Tournament</h1>
      <p class="year">
        <i class="fa fa-star"></i> 2020
        <i class="fa fa-star"></i>
      </p>
      <p class="bracket-name" id="intro">Last 4 Week Low Net Total</p>
    </div>
  </header>


  <section id="bracket">
   <!-- Filter the Products   -->
  <div class='panel-body'>
    <div class='table-responsive'>
        <table class='table table-striped'
               *ngIf='golferData && golferData.length'>
            <thead>
                <tr>
                    <th >GOLFER</th>
                    <th >TO PAR</th>
                    <th >R 1</th>
                    <th >R 2</th>
                    <th >R 3</th>
                    <th >R 4</th>
                    <th >TOT</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let gd of golferData'>
                  <td>{{gd.golfer}}</td>
                  <td>{{gd.toPar}}</td>
                  <td>{{gd.round1}}</td>
                  <td>{{gd.round2}}</td>
                  <td>{{gd.round3}}</td>
                  <td>{{gd.round4}}</td>
                  <td>{{gd.round1 + gd.round2 + gd.round3 + gd.round4}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
