<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h3>{{pageTitle}}</h3>
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='table' *ngIf='weeklyWinners && weeklyWinners.length'>
            <div class='panel-success' *ngFor='let week of weeklyWinners; let x = index'>
                <div class='panel-heading'>
                    <h4>Week {{x + 1}}</h4>
                </div>
                <div class='panel panel-body'>
                    <table class="table table-striped">
                        <thead>
                            <th>Golfer</th>
                            <th>Type</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                            <tr *ngFor='let money of week'>
                                <td>{{money.idgame.name}}</td>
                                <td>{{money.idgolfer.firstname}} {{money.idgolfer.lastname}}</td>
                                <td>{{money.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>