<div *ngIf="isRegister" class="title-bar">
  <img src="assets/logo.png" height="90px" class="image">
  <div class='title'> ...a sham like no other</div>
  <div class="menu-area">
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>{{pageTitle}}</h3>
  </div>
  <!-- panel-heading-->

  <div class="panel-body">
    <form class="form-horizontal" novalidate (ngSubmit)="saveGolfer()" [formGroup]="golferForm">
      <fieldset>
<div class="form-group" [ngClass]="{'has-error': displayMessage.firstname }">
          <label class="col-md-2 control-label" for="firstnameId">First Name</label>

          <div class="col-md-8">
            <input class="form-control" id="firstnameId" type="text" placeholder="First Name (required)" formControlName="firstname"
            />
            <span class="help-block" *ngIf="displayMessage.firstname">
              {{displayMessage.firstname}}
            </span>
          </div>
        </div>
        <!-- panel-heading-->

        <div class="form-group" [ngClass]="{'has-error': displayMessage.lastname}">
          <label class="col-md-2 control-label" for="lastnameId">Last Name</label>

          <div class="col-md-8">
            <input class="form-control" id="lastnameId" type="text" placeholder="Last Name (required)" formControlName="lastname" />
            <span class="help-block" *ngIf="displayMessage.lastname">
              {{displayMessage.lastname}}
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" attr.for="spouseId">Spouse/Significant Other</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="spouseId" placeholder="Spouse/Significant Other" formControlName="spouse">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" attr.for="addressId">Street Address</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="addressId" placeholder="Street address" formControlName="address">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" attr.for="cityId">City</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="cityId" placeholder="City" formControlName="city">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" attr.for="stateId">State</label>
          <div class="col-md-8">
            <select class="form-control" id="stateId" formControlName="state">
              <option value="" disabled selected hidden>Select a State...</option>
              <option value="IN">Indiana</option>
              <option value="KY">Kentucky</option>
              <option value="OH">Ohio</option>
            </select>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.zip }">
          <label class="col-md-2 control-label" attr.for="zipId">Zip Code</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="zipId" placeholder="Zip Code" formControlName="zip">
            <span class="help-block" *ngIf="displayMessage.zip">
              {{displayMessage.zip}}
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.phone }">
          <label class="col-md-2 control-label" for="phoneId">Phone</label>

          <div class="col-md-8">
            <input class="form-control" id="phoneId" type="tel" placeholder="Phone" formControlName="phone" />
            <span class="help-block" *ngIf="displayMessage.phone">
              {{displayMessage.phone}}
            </span>
          </div>
        </div>

        <div formGroupName="emailGroup" [ngClass]="{'has-error': displayMessage.emailGroup}">

          <div class="form-group" [ngClass]="{'has-error': displayMessage.email}">
            <label class="col-md-2 control-label" for="emailId">Email</label>

            <div class="col-md-8">
              <input class="form-control" id="emailId" type="email" placeholder="Email (required)" formControlName="email" />
              <span data-cy='emailHelpBlock' class="help-block" *ngIf="displayMessage.email">
                {{displayMessage.email}}
              </span>

            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': displayMessage.confirmEmail}">
            <label class="col-md-2 control-label" for="confirmEmailId">Confirm Email</label>
            <div class="col-md-8">
              <input class="form-control" id="confirmEmailId" type="email" placeholder="Confirm Email (required)" formControlName="confirmEmail"
              />
              <span data-cy='confirmEmailHelpBlock' class="help-block" *ngIf="displayMessage.confirmEmail">
                {{displayMessage.confirmEmail}}
              </span>
            </div>
          </div>
          <span data-cy='emailMatchHelpBlock' class="help-block" *ngIf="displayMessage.emailGroup">
            {{displayMessage.emailGroup}}
          </span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.username }">
          <label class="col-md-2 control-label" for="usernameId">Username</label>

          <div class="col-md-8">
            <input class="form-control" id="usernameId" type="text" placeholder="Username (required)" formControlName="username" />
            <span class="help-block" *ngIf="golferForm.get('username').errors">
              <span class="help-block" *ngIf="displayMessage.username">
                {{displayMessage.username}}
              </span>
            </span>
          </div>
        </div>

        <div formGroupName="passwordGroup" [ngClass]="{'has-error': displayMessage.passwordGroup }">

          <div class="form-group" [ngClass]="{'has-error': displayMessage.password}">
            <label class="col-md-2 control-label" for="passwordId">Password</label>

            <div class="col-md-8">
              <input class="form-control" id="passwordId" type="password" placeholder="Password (required)" formControlName="password"
              />
              <span class="help-block" *ngIf="displayMessage.password">
                {{displayMessage.password}}
              </span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': displayMessage.confirmPassword }">
            <label class="col-md-2 control-label" for="confirmPasswordId">Confirm Password</label>

            <div class="col-md-8">
              <input class="form-control" id="confirmPasswordId" type="password" placeholder="Confirm Password (required)" formControlName="confirmPassword"
              />
              <span class="help-block" *ngIf="displayMessage.confirmPassword">
                {{displayMessage.confirmPassword}}
              </span>
            </div>
          </div>
          <span data-cy='passwordMatchHelpBlock' class="help-block" *ngIf="displayMessage.passwordGroup">
            {{displayMessage.passwordGroup}}
          </span>
        </div>
        <div class="form-group" >
          <label class="col-md-2 control-label" for="handicapId">Handicap</label>

          <div class="col-md-8">
            <input class="form-control" id="handicapId" type="number" formControlName="currenthandicap" />
          </div>
      </div>
      <div class="form-group" >
        <label class="col-md-2 control-label" for="activeId">Active</label>

        <div class="col-md-8">
          <input class="big-checkbox" id="activeId" type="checkbox" formControlName="active" />
        </div>
      </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary" id="submit" type="submit" [disabled]="!golferForm.valid">
                Save
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <!-- panel-body -->
</div>
<!-- panel panel-primary -->
