<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <div class="container">
      <form class="form-inline" novalidate [formGroup]="golferForm">
        <select class="form-control" id="golferlistId" formControlName="golferlist">
          <option value="" selected disabled>Select Golfer</option>
          <option *ngFor="let golfer of golfers" [ngValue]="golfer">{{golfer.firstname}} {{golfer.lastname}}</option>
        </select>
      </form>
    </div>
  </div>
</div>