<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>

  <!-- Filter the Products   -->
  <div class='panel-body'>
      <div class='table-responsive'>
          <table sortable-table (sorted)="onSorted($event, 1)" class='table table-striped' *ngIf='golfers && golfers.length'>
              <thead>
                  <tr>
                      <th table-name=1 sortable-column="lastname">Golfer</th>
                      <th>Wife - GF</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th table-name=1 sortable-column='currenthandicap' sort-direction='desc'>Handicap</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let golfer of golfers'>
                      <td>{{golfer.firstname}} {{golfer.lastname}}</td>
                      <td>{{golfer.spouse}}</td>
                      <td>{{golfer.address}} {{golfer.city}}, {{golfer.state}} {{golfer.zip}}</td>
                      <td>{{golfer.phone}}</td>
                      <td>{{golfer.email}}</td>
                      <td>{{golfer.currenthandicap}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>