<div class='panel panel-primary'>
  <div class='panel-heading'>
      <h3>{{pageTitle}}</h3>
  </div>

  <!-- Filter the Products   -->
  <div class='panel-body'>
      <div class='table-responsive'>
          <table sortable-table (sorted)="onSorted($event, 1)" class='table table-striped'
                 *ngIf='handicapData && handicapData.length'>
              <thead>
                  <tr>
                    <th></th>
                      <th>Golfer</th>
                      <th  table-name=1 sortable-column={{number}} *ngFor='let number of numbers'>{{number + 1}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let hd of handicapData; let x = index'>
                      <td>{{x+1}}</td>
                      <td>{{hd.golfer.firstname}} {{hd.golfer.lastname}}</td>
                      <td *ngFor='let handicap of hd.handicaps; let i = index;'>{{handicap.handicap}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
