<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>

  <div class="panel-body">
    <div class="container">
      <form class="form-inline" novalidate [formGroup]="scheduleForm">
        <select class="form-control" id="golferlistId" formControlName="golferlist">
            <option value="" selected disabled >Select Golfer</option>
            <option *ngFor="let golfer of golfers" [ngValue]="golfer">{{golfer.firstname}} {{golfer.lastname}}</option>
        </select>
      </form>
    </div>
  </div>
  <div *ngIf="schedules">
      <div *screenLarge class="row">
          <div *ngFor="let x of schedules; let i = index">
            <div class="container">
              <div *ngIf= "selectedGolfer.idgolfer === x.idgolfer1.idgolfer; else elseBlock" class="col-lg-12 h3 ">
                Week {{i+1}} - {{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}} 
              </div>
              <ng-template #elseBlock>
                  <div class="col-lg-12 h3">
                      Week {{i+1}} - {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}} 
                  </div> 
                </ng-template>
            </div>
          </div>
        </div>
        <div *screenBelowLarge class="row">
          <div *ngFor="let x of schedules; let i = index">
            <div class="container">
                <div *ngIf= "selectedGolfer.idgolfer === x.idgolfer1.idgolfer; else elseBlock" class="col-lg-12 h4 ">
                    Week {{i+1}} - {{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}} 
                  </div>
                  <ng-template #elseBlock>
                      <div class="col-lg-12 h4" >
                          Week {{i+1}} - {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}} 
                      </div> 
                    </ng-template>
            </div>
          </div>
        </div>

  </div>
</div>