<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>Weekly Schedules</h3>
  </div>
  <br>
  <br>

  <div class="panel-body panel with-nav-tabs ">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li [ngClass]="{'active': schedule.week==currentWeek}" *ngFor="let schedule of weeklySchedules">
          <a class="white-letters" href="#tab{{schedule.week}}primary" data-toggle="tab">{{schedule.week}}</a>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in " [ngClass]="{'active': schedule.week==currentWeek}"
             *ngFor="let schedule of weeklySchedules"
             id="tab{{schedule.week}}primary">
          <div *screenLarge class="row">
            <div *ngFor="let x of schedule.schedules">
              <div class="container">
                <div class="col-lg-12 h2 center">
                  <a *ngIf="x.points1==0 && isGolferAdminOrUser(x.idgolfer1)" (click)='toggleAbsent(x.idgolfer1, x)'>
										<span *ngIf="x.absent1 == false" class="glyphicon glyphicon-ok-sign" style="color:green;font-size: 25px"></span>
										<span *ngIf="x.absent1 == true" class="glyphicon glyphicon-remove-sign" style="color:red;font-size: 25px"></span>
                  </a>
									<a *ngIf="isGolferAdminOrUser(x.idgolfer1) || isGolferAdminOrUser(x.idgolfer2); else elseBlock" (click)='gotoMatch(x.idschedule)'>
										<span *ngIf="x.absent1" (onDrop)="swapGolfers($event, x.idgolfer1, x.idweek)" draggable droppable   [dragData]="x.idgolfer1" > (OUT) {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}}  vs.</span>
										<span *ngIf="!x.absent1" (onDrop)="swapGolfers($event, x.idgolfer1, x.idweek)" draggable droppable  [dragData]="x.idgolfer1">({{x.handicap1}}) {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}} vs.</span>
										<span *ngIf="x.absent2" (onDrop)="swapGolfers($event, x.idgolfer2, x.idweek)" draggable droppable   [dragData]="x.idgolfer2">{{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}}(OUT)</span>
										<span *ngIf="!x.absent2" (onDrop)="swapGolfers($event, x.idgolfer2, x.idweek)" draggable droppable   [dragData]="x.idgolfer2">{{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}}({{x.handicap2}})</span>
                  </a>
                  <ng-template #elseBlock>
                    <h2 style="color:green;">
											<span *ngIf="x.absent1"><div (onDrop)="swapGolfers($event, x.idgolfer1, x.idweek)" draggable droppable [dragData]="x.idgolfer1">(OUT) {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}}</div> vs.</span>
											<span *ngIf="!x.absent1"><div (onDrop)="swapGolfers($event, x.idgolfer1, x.idweek)" draggable droppable  [dragData]="x.idgolfer1">({{x.handicap1}}) {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}}</div> vs.</span>
											<span *ngIf="x.absent2"><div (onDrop)="swapGolfers($event, x.idgolfer2, x.idweek)" draggable droppable   [dragData]="x.idgolfer2">{{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}}(OUT)</div></span>
											<span *ngIf="!x.absent2"><div (onDrop)="swapGolfers($event, x.idgolfer2, x.idweek)" draggable droppable   [dragData]="x.idgolfer2">{{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}}({{x.handicap2}})</div></span>
                    </h2>
                  </ng-template>
                  <a *ngIf="x.points2==0  && isGolferAdminOrUser(x.idgolfer2)" (click)='toggleAbsent(x.idgolfer2, x)'>
										<span *ngIf="x.absent2 == false" class="glyphicon glyphicon-ok-sign" style="color:green;font-size: 25px;"></span>
										<span *ngIf="x.absent2 == true" class="glyphicon glyphicon-remove-sign" style="color:red;font-size: 25px"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div *screenBelowLarge class="row">
            <div *ngFor="let x of schedule.schedules">
              <div class="container">
                <div class="col-md-12 h5 center">
                  <a *ngIf="x.points1==0 && isGolferAdminOrUser(x.idgolfer1)" (click)='toggleAbsent(x.idgolfer1, x)'>
                    <span *ngIf="x.absent1 == false" class="glyphicon glyphicon-ok-sign"
                          style="color:green;font-size: 15px"></span>
                    <span *ngIf="x.absent1 == true" class="glyphicon glyphicon-remove-sign"
                          style="color:red;font-size: 15px"></span>
                  </a>
                  <a *ngIf="isGolferAdminOrUser(x.idgolfer1) || isGolferAdminOrUser(x.idgolfer2); else elseBlock"
                     (click)='gotoMatch(x.idschedule)'>
										<span *ngIf="x.absent1" (press)="longPress($event, x.idgolfer1, x.idweek)"
                    >(OUT) {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}} vs.</span>
                    <span *ngIf="!x.absent1" (press)="longPress($event, x.idgolfer1, x.idweek)"
                    >({{x.handicap1}}) {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}} vs.</span>
                    <span *ngIf="x.absent2" (press)="longPress($event, x.idgolfer2, x.idweek)"
                    >{{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}}(OUT)</span>
                    <span *ngIf="!x.absent2" (press)="longPress($event, x.idgolfer2, x.idweek)"
                    >{{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}}({{x.handicap2}})</span>
                  </a>
                  <ng-template #elseBlock>
                    <h5 style="color:green;">
											<span *ngIf="x.absent1" (press)="longPress($event, x.idgolfer1, x.idweek)"
                      >(OUT) {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}} vs.</span>
                      <span *ngIf="!x.absent1" (press)="longPress($event, x.idgolfer1, x.idweek)"
                      >({{x.handicap1}}) {{x.idgolfer1.firstname}} {{x.idgolfer1.lastname}} vs.</span>
                      <span *ngIf="x.absent2" (press)="longPress($event, x.idgolfer2, x.idweek)"
                      >{{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}}(OUT)</span>
                      <span *ngIf="!x.absent2" (press)="longPress($event, x.idgolfer2, x.idweek)"
                      >{{x.idgolfer2.firstname}} {{x.idgolfer2.lastname}}({{x.handicap2}})</span>
                    </h5>
                  </ng-template>
                  <a *ngIf="x.points2==0  && isGolferAdminOrUser(x.idgolfer2)" (click)='toggleAbsent(x.idgolfer2, x)'>
                    <span *ngIf="x.absent2 == false" class="glyphicon glyphicon-ok-sign"
                          style="color:green;font-size: 15px;"></span>
                    <span *ngIf="x.absent2 == true" class="glyphicon glyphicon-remove-sign"
                          style="color:red;font-size: 15px"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
