<div class='panel panel-primary'>
	<div class='panel-heading'>
		<h3>Weekly Pick Four Wagers and Results</h3>
	</div>
	<br>
	<br>

  <form class="form-inline" novalidate (ngSubmit)="calculateTotals()"  [formGroup]="wagerResultsForm">
    <!-- Filter the Products   -->

          <div class="panel-body panel with-nav-tabs">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li [ngClass]="{'active': schedule.week==selectedWeek}" *ngFor="let schedule of weeklySchedules">
                  <a class="white-letters" href="#tab{{schedule.week}}primary" (click)="switchTabs(schedule)" data-toggle="tab">{{schedule.week}}</a>
                </li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane fade in " [ngClass]="{'active': schedule.week==selectedWeek}" *ngFor="let schedule of weeklySchedules" id="tab{{schedule.week}}primary">
                    <Table class="table table-bordered table-responsive">
                      <th class="gtext">Name</th>
                      <th class="gtext">Pick 1</th>
                      <th class="gtext">Pick 2</th>
                      <th class="gtext">Pick 3</th>
                      <th class="gtext">Pick 4</th>
                      <th class="gtext">Total</th>
                      <tbody>
                        <tr *ngFor="let pickfour of pickFours">
                          <td class="gtext">
                              {{pickfour.idgolfer.firstname}} {{pickfour.idgolfer.lastname}}
                          </td>
                          <td class="gtext">
                              {{pickfour.pick1.firstname}} {{pickfour.pick1.lastname}} - {{pickfour.score1}}
                          </td>
                          <td class="gtext">
                              {{pickfour.pick2.firstname}} {{pickfour.pick2.lastname}} - {{pickfour.score2}}
                          </td>
                          <td class="gtext">
                              {{pickfour.pick3.firstname}} {{pickfour.pick3.lastname}} - {{pickfour.score3}}
                          </td>
                          <td class="gtext">
                              {{pickfour.pick4.firstname}} {{pickfour.pick4.lastname}} - {{pickfour.score4}}
                          </td>
                          <td class="gtext">
                              {{pickfour.total}}
                          </td>
                        </tr>
                      </tbody>
                    </Table>
                </div>
                <br>
              </div>
              <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                  <span>
                    <button class="btn btn-primary" type="submit">
                      Calculate Totals
                    </button>
                  </span>
                </div>
              </div>
        
            </div>
          </div>
  </form>