<div class='panel panel-primary'>
	<div class='panel-heading'>
		<h3>Place Weekly Pick Four Wagers</h3>
	</div>
	<br>
	<br>

  <form class="form-inline" novalidate (ngSubmit)="placeWager()"  [formGroup]="wagerForm">
    <!-- Filter the Products   -->

          <div class="panel-body panel with-nav-tabs">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li [ngClass]="{'active': schedule.week==selectedWeek}" *ngFor="let schedule of weeklySchedules">
                  <a class="white-letters" href="#tab{{schedule.week}}primary" (click)="switchTabs(schedule)" data-toggle="tab">{{schedule.week}}</a>
                </li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane fade in " [ngClass]="{'active': schedule.week==selectedWeek}" *ngFor="let schedule of weeklySchedules" id="tab{{schedule.week}}primary">
                    <Table class="table table-bordered table-responsive">
                      <th class="gtext">Pick 1</th>
                      <th class="gtext">Pick 2</th>
                      <th class="gtext">Pick 3</th>
                      <th class="gtext">Pick 4</th>
                      <th class="gtext">Total</th>
                      <tbody>
                        <tr>
                          <td class="gtext">
                            <select required [(ngModel)]="pick1" class="form-control" id="{{'golferList1'}}" formControlName="golferList1">
                              <option disabled [ngValue]="null">Select Golfer</option>
                              <option *ngFor="let golfer of golfers" [ngValue]="golfer.idgolfer">{{golfer.firstname}} {{golfer.lastname}}({{golfer.currenthandicap}})</option>
                            </select>
      
                          </td>
                          <td class="gtext">
                            <select required [(ngModel)]="pick2" class="form-control" id="{{'golferList2'}}" formControlName="golferList2">
                              <option disabled [ngValue]="null">Select Golfer</option>
                              <option *ngFor="let golfer of golfers" [ngValue]="golfer.idgolfer">{{golfer.firstname}} {{golfer.lastname}}({{golfer.currenthandicap}})</option>
                            </select>
      
                          </td>
                          <td class="gtext">
                            <select required [(ngModel)]="pick3" class="form-control" id="{{'golferList3'}}" formControlName="golferList3">
                              <option disabled [ngValue]="null">Select Golfer</option>
                              <option *ngFor="let golfer of golfers" [ngValue]="golfer.idgolfer">{{golfer.firstname}} {{golfer.lastname}}({{golfer.currenthandicap}})</option>
                            </select>
      
                          </td>
                          <td class="gtext">
                            <select required [(ngModel)]="pick4" class="form-control" id="{{'golferList4'}}" formControlName="golferList4">
                              <option disabled [ngValue]="null">Select Golfer</option>
                              <option *ngFor="let golfer of golfers" [ngValue]="golfer.idgolfer">{{golfer.firstname}} {{golfer.lastname}}({{golfer.currenthandicap}})</option>
                            </select>
                          </td>
                          <td class="gtext">
                            Total
                          </td>
                        </tr>
                      </tbody>
                    </Table>
                </div>
                <br>
              </div>
                <div class="col-md-6">
                  <span>
                    <button class="btn btn-primary" type="submit" [disabled]="!wagerAllowed()">
                      Place Wager
                    </button>
                    <div *ngIf="doublePicks()" class="error">
                         You can not pick the same golfer more than once!.
                    </div>
                  </span>
                </div>       
            </div>
          </div>
  </form>
