<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>
  <div class="container">
    <form class="form-inline" novalidate (ngSubmit)="switchYear()" [formGroup]="yearSelectForm">
      <div class="form-group ">
        <label class="control-label" for="selectYearId">Select Year</label>
        <select class="form-control" [(ngModel)]="selectedYear" formControlName="selectYear" id="selectYearId">
          <option *ngFor="let number of years" [value]="number">
            {{number}}
          </option>
        </select>
        <div>
          <br>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary" type="submit">
              Save
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
