<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>
  <form class="form-horizontal" novalidate (ngSubmit)="sendEmail()" [formGroup]="emailForm">
    <div class='panel-body'>
      <div class='panel-body'>
      <div class="form-group" [ngClass]="{'has-error': displayMessage.subject }">
        <label class="col-md-2 control-label" for="subjectId">Subject</label>
        <input class="form-control" id="subjectId" formControlName="subject" required placeholder="Subject" [(ngModel)]="emailSubject">

        <span class="help-block" *ngIf="displayMessage.subject">
          {{displayMessage.subject}}
        </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': displayMessage.message }">
        <label class="col-md-2 control-label" for="messageId">Message</label>
        <textarea rows="6" class="form-control" id="messageId" formControlName="message" required placeholder="Message" [(ngModel)]="emailMessage"></textarea>
        <span class="help-block" *ngIf="displayMessage.message">
          {{displayMessage.message}}
        </span>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary" type="submit" [disabled]="!emailForm.valid">
            Send
          </button>
        </span>
      </div>
      </div>
    </div>
  </form>
</div>