<div class='panel panel-primary'>
  <div class='panel-heading'>
      <h3>{{pageTitle}}</h3>
  </div>
  <div class='panel-success' *ngFor='let division of divisions; let x = index' >
  <div class='panel-heading'> <h4>{{division.name}}</h4></div>
      <div class='table-responsive'>
            <div class='panel-body'>
          <table sortable-table (sorted)="onSorted($event, x)" class='table table-striped'>
              <thead>
                  <tr>
                      <th> Golfer</th>
                      <th table-name={{x}} sortable-column={{number}} *ngFor='let number of numbers'>{{number + 1}}</th>
                      <th table-name={{x}} sortable-column={{numbers.length}} sort-direction="asc">Total</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let golfers of golfers[x]; let y = index;'>
                      <td>{{golfers[0].name}}</td>
                      <td *ngFor='let golfersPoints of golfers; let y = index;'>{{golfersPoints.points}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  </div>
</div>

