<div class="container">
    <div *screenLarge class="row">

        <div *ngIf="opponentAbsent === 'true' " class="col-md-12">
            <a (click)='gotoMatch(currentMatch)'><h3>This weeks opponent: {{currentOpponent}} is not golfing this week. </h3></a>
        </div>
        <div *ngIf="opponentAbsent === 'false' " class="col-md-12">
            <a (click)='gotoMatch(currentMatch)'><h3>This weeks opponent: {{currentOpponent}} ({{currentOpponentHC}})</h3></a>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-12">
            <a (click)='gotoMatch(lastMatch)'><h3>Last weeks results: You {{lastPoints}} pts - {{lastOpponent}} {{lastOpponentPoints}} pts</h3></a>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-12">
            <h3>You have {{yourPoints}} points, the leader of the {{divisionName}} division is {{divisionLeader}} with {{leaderPoints}}
                points. </h3>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-12">
            <h3>Total Money Winnings for the year is ${{yourMoney}}</h3>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-6">
            <h3>Your Avg {{golferAvg}}</h3>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-6">
            <h3>League Avg {{leagueAvg}}</h3>
        </div>
    </div>
    <div *screenBelowLarge class="row">
        <div class="col-md-12">
            <a (click)='gotoMatch(currentMatch)'><h4>This weeks opponent: {{currentOpponent}} ({{currentOpponentHC}})</h4></a>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-12">
            <a (click)='gotoMatch(currentMatch)'><h4>Last weeks results: You {{lastPoints}} pts - {{lastOpponent}} {{lastOpponentPoints}} pts</h4></a>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-12">
            <a (click)='gotoMatch(lastMatch)'><h4>You have {{yourPoints}} points, the leader of the {{divisionName}} division is {{divisionLeader}} with {{leaderPoints}}
                points. </h4></a>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-12">
            <h4>Total Money Winnings for the year is ${{yourMoney}}</h4>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-6">
            <h4>Your Avg {{golferAvg}}</h4>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-6">
            <h4>League Avg {{leagueAvg}}</h4>
        </div>
    </div>
    <div *ngIf="showChart" class="row">
        <div *ngIf="currentWeek - 1 > 0" class="col-md-6">
            <pie-chart [data]="data1" [config]="config1" [elementId]="elementId1"></pie-chart>
        </div>
        <div *ngIf="currentWeek - 1 > 0" class="col-md-6">
            <pie-chart [data]="data2" [config]="config2" [elementId]="elementId2"></pie-chart>
        </div>
    </div>
</div>