:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
   /* background-image: url('./assets/mountains.jpg');  */
    background-position:  center center;
    background-size: cover;
}

.sign-in-form {
    min-width: 300px;
    background-color: white;
    opacity: .93;
    padding: 20px;
}

a {
    color:rgb(0, 94, 44);
    line-height: 32px;
}
button {
    float: right;
}

.message {
    float: right;
}

.form-control:focus {
    border-color:  rgb(0, 94, 44);
}

.btn-primary {
background-color:rgb(0, 94, 44);
border-color:rgb(0, 94, 44);
color: #FFF;
}
.btn-primary:hover,.btn-primary:focus {
  border-color: rgb(10, 65, 36);
  background-color:rgb(10, 65, 36);
  color: #FFF;
}
.btn-primary[disabled], body .btn-primary[disabled]:hover {
    background-color:rgb(106, 129, 117);
    border-color: rgb(106, 129, 117);
}