<div class="sign-in-form">
  <img src="./assets/logo.png" width="320" />
  <h4>Enter registered phone number,</h4>
  <h4>Text will be sent on submission.</h4>
  <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)" novalidate>
    <div class="form-group">
      <input class="form-control" name="phone" required placeholder="Registered Phone Number" ngModel #phone="ngModel" />
      <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
        Registered Phone Number is required.
      </div>
    </div>
    <div *ngIf="formError" class="alert alert-danger">
      {{ formError }}
    </div>
    <div *ngIf="!submitting">
      <a routerLink="/signin">Back to Login</a>
      <button type="submit" class="btn btn-primary">Get Login Info</button>
    </div>
    <div *ngIf="submitting">
      <p class="message">Sending information...</p>
    </div>
  </form>
</div>
