<div class="sign-in-form">
  <img src="./assets/logo.png" width="320" />
  <h4>Sign In</h4>
  <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)" novalidate>
    <div class="form-group">
      <input data-cy='username' class="form-control" name="username" required placeholder="User Name" ngModel #username="ngModel" />
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
        User Name is required.
      </div>
    </div>
    <div class="form-group" >
      <input data-cy="password" class="form-control" name="password" required type="password"  placeholder="Password" ngModel #password="ngModel"/>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required.
      </div>
    </div>
<!--    <div class="checkbox">
      <label>
      <input type="checkbox" name="rememberMe" ngModel /> Remember Me
      </label>
    </div> -->
    <div data-cy="error" *ngIf="formError" class="alert alert-danger">
      {{ formError }}
    </div>
    <div *ngIf="!submitting">
      <a data-cy="register" routerLink="/register/-1">Register</a>
      <button data-cy='signin' type="submit" class="btn btn-primary">Sign In</button>
    </div>
    <div *ngIf="!submitting">
        <a  data-cy='forgot' routerLink="/forgot">Forgot Login Information?</a>
    </div>
    <div *ngIf="submitting">
      <p class="message">Signing In...</p>
    </div>
  </form>
</div>
