/* You can add global styles to this file, and also import other style files */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
    color: rgb(0, 94, 44);
}

.title-bar {
    flex-grow: 1;
    display: flex;
    min-height: 100px;
    max-height: 100px;
}
.panel > .panel-heading {
    background-color:rgb(0, 94, 44);
    border-color:rgb(0, 94, 44);

}
.white-letters{
    color: #fff;
}
.form-control:focus {
        border-color:  rgb(0, 94, 44);
}

.btn-right {
  float: right;
}
.btn-primary {
    background-color:rgb(0, 94, 44);
    border-color:rgb(0, 94, 44);
    color: #FFF;
 }
.btn-primary:hover,.btn-primary:focus {
      border-color: rgb(10, 65, 36);
      background-color:rgb(10, 65, 36);
      color: #FFF;
}
.btn-primary[disabled], body .btn-primary[disabled]:hover {
        background-color:rgb(106, 129, 117);
        border-color: rgb(106, 129, 117);
        color: #fff;
}

.panel.with-nav-tabs {
    padding: 5px 5px 0 5px;
    background-color:rgb(0, 94, 44);
    color: #fff;
  
  
  }
  .panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
  }
  .panel.with-nav-tabs .nav-justified{
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
  margin-bottom: -1px;
  }
  
  .center{
    text-align: center;
    align-content: center;
  }
  
  .panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
    background-color:rgb(0, 94, 44);
    color: #fff;
  
  
  }
  .panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
  }
  .panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
  }
  
  .center{
    text-align: center;
    align-content: center;
  }
  
  /********************************************************************/
  /*** PANEL PRIMARY ***/
  .with-nav-tabs.panel-primary .nav-tabs > li > a,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
      color: #fff;
  
  }
  .with-nav-tabs.panel-primary .nav-tabs > .open > a,
  .with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
      color: #fff;
      background-color: #1f4d1fe1;
      border-color: transparent;
  }
  .with-nav-tabs.panel-primary .nav-tabs > li.active > a,
  .with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
      color: rgb(0, 94, 44);
    background-color: #f0fff0;
      border-color: rgba(0, 94, 44);
      border-bottom-color: transparent;
  }
  
  .panel-primary{
   background-color: #f0fff0;
   border-color: rgba(0, 94, 44);
  }
  .panel-body{
    background-color: #f0fff0;
    border-color: rgba(0, 94, 44);
    /*height: 100vh;
    overflow: scroll; */
   }
   
  body {
      padding : 10px ;
      
    }
    
    #exTab1 .tab-content {
      background-color: #1f4d1fe1; 
      padding : 5px 15px;
    }
    
    #exTab2 h3 {
      background-color: #f0fff0; 
      padding : 5px 15px;
    }
    
    /* remove border radius for the tab */
    
    #exTab1 .nav-pills > li > a {
      border-radius: 0;
    }
    
    /* change border radius for the tab , apply corners on top*/
    
    #exTab3 .nav-pills > li > a {
      border-radius: 4px 4px 0 0 ;
      background-color:rgb(0, 94, 44);
    }
    
    #exTab3 .tab-content {
      
      padding : 5px 15px;
    }
    th[sortable-column] {
      text-align: left;
      cursor: pointer;
    }
