:host {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    background-color: #d3fad3;
}

:host(.vertical-menu) {
    display: inline-block;
    max-width: 200px;
    min-width: 200px;
    padding-left: 4px;
    flex-grow: 0;
    background-color: rgb(0, 94, 44);
    overflow: auto;
}

.center{
    align-items: center;
}
img.width {
    width:80%;
}
img.height {
    width:35%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

button {
    margin-top: 20px;
}
button.horizontal {
    margin-left: 20px;
    margin-bottom: 2px;
}
