
:host {
    display: block;
    background-color: #d3fad3;
}

.title-bar {
    flex-grow: 2;
    display: flex;
    min-height: 100px;
    max-height: 100px;
    color: rgb(0, 94, 44);
}

.menu-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 20px;
}

.title-bar-small {
    flex-grow: 2;
    display: flex;
    min-height: 56px;
    font-size: 10px;
    font-style: italic;
    color: rgb(0, 94, 44);
}

.small-image-holder {
    flex-grow: 1;
}

.small-image {
    height: 50px;
}

.image{
    height: 90px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
     color: rgb(0, 94, 44);
}
span {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 25px;
    line-height: 50px;
}




