
<div *screenBelowLarge class="title-bar-small">
    <span class="glyphicon glyphicon-menu-hamburger"
          (click)="menuService.toggleLeftSideMenu()">
    </span>
    <div class="small-image-holder">
        <img class="small-image" src="assets/logo.png">
        ...a sham unlike any other
    </div>
    <fw-top-bar>
    </fw-top-bar>
</div>

<div *screenLarge class="title-bar user-title-bar">
    <img src="assets/logo.png" alt="Green Nations Logo" class="image">
    <div class='title'>    ...a sham unlike any other</div>
    <div class="menu-area" >
        <fw-top-bar>
        </fw-top-bar>
        <fw-menu *ngIf="!menuService.isVertical">
        </fw-menu>
    </div>
</div>
