<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <form class="form-horizontal" novalidate (ngSubmit)="saveSettings()" [formGroup]="settingsForm">
      <fieldset>

          <div class="form-group" [ngClass]="{'has-error': displayMessage.courseemail}">
              <label class="col-md-2 control-label" for="courseemailId">Kenton County Golf Course Email </label>
    
              <div class="col-md-8">
                <input class="form-control" id="courseemailId" formControlName="courseemail" />
                <span class="help-block" *ngIf="displayMessage.courseemail">
                  {{displayMessage.courseemail}}
                </span>
              </div>
            </div>  

        <div class="form-group" [ngClass]="{'has-error': displayMessage.foodphone}">
          <label class="col-md-2 control-label" for="foodphoneId">Dickmann/'s Phone </label>

          <div class="col-md-8">
            <input class="form-control" id="foodphoneId" type="number" formControlName="foodphone" />
            <span class="help-block" *ngIf="displayMessage.foodphone">
              {{displayMessage.foodphone}}
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.foodemail}">
          <label class="col-md-2 control-label" for="foodemailId">Dickmann/'s Email </label>

          <div class="col-md-8">
            <input class="form-control" id="foodemailId" formControlName="foodemail" />
            <span class="help-block" *ngIf="displayMessage.foodemail">
              {{displayMessage.foodemail}}
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.orderday}">
            <label class="col-md-2 control-label" for="orderdayId">Dickmann/'s Order Day </label>
  
            <div class="col-md-8">
              <input class="form-control" id="orderdayId" type="number" formControlName="orderday" />
              <span class="help-block" *ngIf="displayMessage.orderday">
                {{displayMessage.orderday}}
              </span>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': displayMessage.orderstart}">
              <label class="col-md-2 control-label" for="orderstartId">Dickmann/'s Order Start Time </label>
    
              <div class="col-md-8">
                <input class="form-control" id="orderstartId" type="number" formControlName="orderstart" />
                <span class="help-block" *ngIf="displayMessage.orderstart">
                  {{displayMessage.orderstart}}
                </span>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': displayMessage.orderend}">
                <label class="col-md-2 control-label" for="orderendId">Dickmann/'s Order End Time </label>
      
                <div class="col-md-8">
                  <input class="form-control" id="orderendId" type="number" formControlName="orderend" />
                  <span class="help-block" *ngIf="displayMessage.orderend">
                    {{displayMessage.orderend}}
                  </span>
                </div>
              </div>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.totalweeks }">
          <label class="col-md-2 control-label" for="totalweeksId">Number of Weeks</label>

          <div class="col-md-8">
            <input class="form-control" id="totalweeksId" type="number" formControlName="totalweeks" />
            <span class="help-block" *ngIf="displayMessage.totalweeks">
              {{displayMessage.totalweeks}}
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="courseId">Course</label>
          <div class="col-md-8">
            <select class="form-control" formControlName="selectedCourse" id="courseId">
              <option *ngFor="let course of courses" [ngValue]="course" [selected]="course.idcourse==myCourse">{{course.name}} - {{course.tee}}</option>
            </select>
          </div>
        </div>

        <div class="form-check">

          <div class="col-md-2">
            <input class="form-check-input checkbox-custom" id="useghinId" type="checkbox" formControlName="useghin" />
          </div>
          <label class="col-md-10 form-check-label" for="useghinId">Use GHIN Handicapping Formula</label>

        </div>
        <br>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.percentage}">
          <label class="col-md-2 control-label" for="percentageID">Handicap % Value</label>

          <div class="col-md-8">
            <input class="form-control" id="percentageId" type="number" formControlName="percentage" />
            <span class="help-block" *ngIf="displayMessage.percentage">
              {{displayMessage.percentage}}
            </span>
          </div>
        </div>
        <div *ngIf="!settingsForm.get('useghin').value">
          <div class="form-check">

            <div class="col-md-2">
              <input class="form-check-input checkbox-custom" id="useallfortourneyId" type="checkbox" formControlName="useallfortourney"
              />
            </div>
            <label class="col-md-10 form-check-label" for="useallfortourneyId">Tourney Use All Scores</label>
          </div>
          <br>
          <div class="form-group" [ngClass]="{'has-error': displayMessage.numofrounds}">
            <label class="col-md-2 control-label" for="numofroundsId"># weeks for handicap</label>

            <div class="col-md-8">
              <input class="form-control" id="numofroundsId" type="number" formControlName="numofrounds" />
              <span class="help-block" *ngIf="displayMessage.numofrounds">
                {{displayMessage.numofrounds}}
              </span>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': displayMessage.maxallowedhc}">
            <label class="col-md-2 control-label" for="maxallowedhcId">Max Allowed All Holes</label>

            <div class="col-md-8">
              <input class="form-control" id="maxallowedhcId" type="number" formControlName="maxallowedhc" />
              <span class="help-block" *ngIf="displayMessage.maxallowedhc">
                {{displayMessage.maxallowedhc}}
              </span>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': displayMessage.maxallowedpar3}">
            <label class="col-md-2 control-label" for="maxallowedpar3Id">Max Par 3</label>

            <div class="col-md-8">
              <input class="form-control" id="maxallowedpar3Id" type="number" formControlName="maxallowedpar3" />
              <span class="help-block" *ngIf="displayMessage.maxallowedpar3">
                {{displayMessage.maxallowedpar3}}
              </span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': displayMessage.maxallowedpar4}">
            <label class="col-md-2 control-label" for="maxallowedpar4Id">Max Par 4</label>

            <div class="col-md-8">
              <input class="form-control" id="maxallowedpar4Id" type="number" formControlName="maxallowedpar4" />
              <span class="help-block" *ngIf="displayMessage.maxallowedpar4">
                {{displayMessage.maxallowedpar4}}
              </span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': displayMessage.maxallowedpar5}">
            <label class="col-md-2 control-label" for="maxallowedpar5Id">Max Par 5</label>

            <div class="col-md-8">
              <input class="form-control" id="maxallowedpar5Id" type="number" formControlName="maxallowedpar5" />
              <span class="help-block" *ngIf="displayMessage.maxallowedpar5">
                {{displayMessage.maxallowedpar5}}
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.skins}">
          <label class="col-md-2 control-label" for="skinsId">Skins Amount</label>

          <div class="col-md-8">
            <input class="form-control" id="skinsId" type="number" formControlName="skins" />
            <span class="help-block" *ngIf="displayMessage.skins">
              {{displayMessage.skins}}
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.pin1}">
          <label class="col-md-2 control-label" for="pin1Id">Closest Pin 1 Amount</label>

          <div class="col-md-8">
            <input class="form-control" id="pin1Id" type="number" formControlName="pin1" />
            <span class="help-block" *ngIf="displayMessage.pin1">
              {{displayMessage.pin1}}
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.pin2}">
          <label class="col-md-2 control-label" for="pin2Id">Closest Pin 2 Amount</label>

          <div class="col-md-8">
            <input class="form-control" id="pin2Id" type="number" formControlName="pin2" />
            <span class="help-block" *ngIf="displayMessage.pin2">
              {{displayMessage.pin2}}
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.lownet1}">
          <label class="col-md-2 control-label" for="lownet1Id">Low Net 1 Amount</label>

          <div class="col-md-8">
            <input class="form-control" id="lownet1Id" type="number" formControlName="lownet1" />
            <span class="help-block" *ngIf="displayMessage.lownet1">
              {{displayMessage.lownet1}}
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.lownet2}">
          <label class="col-md-2 control-label" for="lownet2Id">Low Net 2 Amount</label>

          <div class="col-md-8">
            <input class="form-control" id="lownet2Id" type="number" formControlName="lownet2" />
            <span class="help-block" *ngIf="displayMessage.lownet2">
              {{displayMessage.lownet2}}
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.longdrive}">
          <label class="col-md-2 control-label" for="longdriveId">Long Drive Amount</label>

          <div class="col-md-8">
            <input class="form-control" id="longdriveId" type="number" formControlName="longdrive" />
            <span class="help-block" *ngIf="displayMessage.longdrive">
              {{displayMessage.longdrive}}
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.longputt}">
          <label class="col-md-2 control-label" for="longputtId">Long Putt Amount</label>

          <div class="col-md-8">
            <input class="form-control" id="longputtId" type="number" formControlName="longputt" />
            <span class="help-block" *ngIf="displayMessage.longputt">
              {{displayMessage.longputt}}
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px" [disabled]='!settingsForm.valid'>
                Save
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>